/* Portfolio */

button {
  font-family: inherit;
}

.filters {
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;

  border-width: 0;
  /* border-style: outset; 
  border-color: -internal-light-dark-color(
    rgb(118, 118, 118),
    rgb(195, 195, 195)
  );*/

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters:hover,
.filters:focus {
  color: var(--primary-white-color);
  background: var(--accent-color);
  border-width: 0;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}

.filters-title {
  margin-top: 0;
  margin-bottom: 0;
}

.filters-container {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  /* background-color: tomato; */
}

.filters-container .item:not(:last-child) {
  margin-right: 8px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  /* background-color: teal; */
}

.flex-element {
  width: 370px;
  margin: 15px;
  /* border: 1px solid #EEEEEE; */
}

.flex-element .img {
  display: block;
  border-radius: 5px 5px 0px 0px;
}

.flex-element:hover,
.flex-element:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}
.image-thumb {
  position: relative;
  overflow: hidden;
}

.image-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.flex-element:hover .image-overlay,
.flex-element:focus .image-overlay {
  transform: translateY(0);
  opacity: 1;
}

.project-info {
  margin-top: 0;
  margin-bottom: 0;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);

  /* opacity: 0; 
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;*/
}

/* .flex-element:hover .project-info { 
  opacity: 1;
}*/

.card-info {
  background-color: var(--primary-white-color);
  border: 1px solid #eeeeee;
  border-top: none;
  border-radius: 0px 0px 5px 5px;
}
.flex-element > .links {
  text-decoration: none;
}

.port-titles {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 4px;
  padding-left: 24px;
  padding-right: 24px;
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.par-titles {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  color: var(--secondary-text-color);

  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}
